body{
     
    background:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, black, black 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-repeat: no-repeat;
    background-size: cover; 
}
ul {
    list-style-type: none;
    margin: 30;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,0,0,0);
  }
  
  li {
    float: left;
    margin-left:70px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:darkred;
  }

h1{
    color:white;
}

.course
{
    align-content:  center;
    width: 20%;
    height: 20%;
    opacity: 0.8;
    filter: alpha(opacity=80);
}