body{
  
    background:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, black, black 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    background-repeat: no-repeat;
    background-size: cover; 
}


ul {
    list-style-type: none;
    margin: 30;
    padding: 30;
    overflow: hidden;
    background-color: rgba(255,0,0,0);
  }
  
  li {
    float: left;
    margin-left:70px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:darkred;
    text-decoration: underline;
  }

.formulaire
{
    display: flex;
    flex-direction: column;
    color:white;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.submit
{
    color: darkred;
    width:10%;
    margin-top: 20px;
}

form
{  
    text-align: center;

}
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 80%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3em;
    font-family: 'Bree Serif', serif;
    margin: 10px 0 10px 50px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  }  
.courses
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  justify-content: space-between;

}

.course1,.course2,.course3
{
  display: flex;
  

}

.container1 {
  margin: 10px;
  position: relative;
  width:40%;
  height: 50%;
  display: inline-block;
  justify-content: center;
}

.image{
  opacity: 1;
  display: flex;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container1:hover .image{
  opacity: 0.3;
}

.container1:hover .middle {
  opacity: 1;
}

.text {
  background-color:gray;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
 
}
.ViewMore
{
  text-decoration: none;
 color: white;
}
h3{
  color:white;
}
.container1 img
{
  width: 250px;
  height: 250px;
}
.navBoot
{
    display: flex;
    justify-content: center;
}